.App {
  height: 100vh;
  background-color: #e1e1e1;
  font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.main {
  margin-left: 250px;
}
